.card{
    margin: 10px;
    height: 400px;
    width: 300px !important;
}
.card>img{
    padding: 12px;
    height: 50%;
    object-fit:cover;
}
.card-text{
    height: 25%;
}
.stokCards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.botonesStok{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 2rem;
    cursor: pointer;
}
.valorStok{
    font-size: 1.5rem;

}